<h1>
  <%= @task.title %>
</h1>

<p>
  Details: 
  <%= @task.details  %>
</p>

<p>
  Status: 
  <%= @task.completed %>
</p>

<%= link_to "Edit", "/tasks/#{@task.id}/edit" %>
<%= link_to "Delete #{@task.title}", task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back to list", "/tasks" %>